html {
	background-color: #ecf0f3;
}
.root {
	display: flex;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	font: 300 20px montserrat;
}
.window {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
}
.topbar {
	display: flex;
	border-bottom: 1px solid #888;
	padding: 5px 0;
	width: calc(100% - 20px);
	align-items: center;
}
.topbar-left, .topbar-center, .topbar-right {
	flex-grow: 1;
	flex-basis: 0;
}
.topbar-center { text-align: center; }
.topbar-right { text-align: right; }
.logo {
	color: #888;
	font-weight: 700;
	text-align: center;
}
.logo-small {
	font-size: 40px;
}
.logo-large {
	font-size: 60px;
	padding: 0 0 60px;
}
.logo-large span {
	display: block;
	line-height: 55px;
}
.logo-large small {
	display: block;
	font-size: 13px;
	line-height: 10px;
}
.username {
	font-size: 15px;
}
.page {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.page-center {
	align-items: center;
	justify-content: center;
}

* {
	outline: none !important;
}
textarea, input[type=password], input[type=text] {
	padding: 8px 4px;
	border: 1px solid #ccc;
}
button, input[type=button], input[type=submit] {
	background-color: #888;
	color: #fff;
	padding: 9px 14px;
	border: none;
}
